.container {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 1px solid #000;
}